.outer-wrapper {
  border-style: solid;
  border-width: 4px;
  border-color: #ee8129;
  border-radius: 6px;
  width: 288px;
  height: 387px;
  font-family: Trebuchet MS;
 }

.inner-wrapper {
  padding: 5px 20px 10px;
}

h2 {
  display: block;
  width: 100%;
  background: #ee8129;
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

h3 {
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #3f4042;
  font-size: 22px;
  padding-top: 5px;

}

.twfive {
  width: 100%;
  font-size: 72px;
  font-weight: bold;
  color: #35495a;
  text-align: center;
  margin: 20px 0;
}

.twfive:before {
  content: "$";
  font-size: 30px;
  font-weight: bold;
  vertical-align: top;
}

.twfive:after {
  content: "Mothly";
  font-size: 18px;
  vertical-align: sub;
}

ul {
  list-style-image: url(tick-mark.png);
  width: 100%;
  box-sizing: border-box;
  background-color: #edf5fd;
}

ul li {
    padding: 3px 0;
}

input[type=submit] {
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    width: 100%;
    background: #ee8129;
    border-bottom: 6px solid #b3560b;
    border-radius: 6px;
    text-align: center;
    margin: 0;
    padding: 5px 0;
}
